<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="600" style="max-width: 100%;" cellspacing="0" cellpadding="0" border="1">
    <tr>

        <!-- MASTER DATA -->
        <td>

            <!-- 1st -->
            <table  width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tr align="center">
                    <td>
                        <img src="./images/1.png" alt="">
                    </td>
                  </tr>
            </table>
            <!-- 1st end -->


            <!-- 2nd -->
            <table style="background-color: #087197;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        <img src="./images/2.png" alt="">
                    </td>
                </tr>
            </table>
            <!-- 2nd end -->


            <!-- 3rd -->
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td>
                        <h4 style="margin: 0 0 0 0;">Top All-Time Sellers </h4>
                    </td>
                </tr>
            </table>
            <!-- 3rd end -->















        </td>
        <!-- MASTER DATA END  -->


    </tr>
    </table>
</body>
</html>